page-covidinfo {
    ion-title {
        text-align: center;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    ion-card-header {
        text-align: center;
    }
}
